.layout-wrapper {

  .layout-main {
    .layout-content {
      padding-top: 50px;
    }

    .layout-main-mask {
      display: none;
    }

    .layout-footer {
      width: 100%;
      padding: 1em 1.5em;
      background-color: $footerBgColor;
      border-top: 2px dotted $footerBorderColor;

      .footer-text-right {
        margin-top: .5em;


        span {
          vertical-align: middle;
        }
      }
    }
  }
}
