html {
  height: 100%;
}

body {
  font-family: Arial;
  font-size: $fontSize;
  color: $textColor;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  @include box-sizing(border-box);
}

a {
  color: $textSecondaryColor;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
