.layout-wrapper {
    .layout-topbar {
        height: 64px;
        background-color: $topbarBgColor;
        border-bottom: 2px dotted $topbarBorderColor;
        padding: 1em;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 999;

        .menu-btn {
            display: inline-block;
            vertical-align: middle;

            i {
                font-size: 1.5em;
            }
        }

        .logo {
            margin-left: 1.25em;
            display: inline-block;
            vertical-align: middle;
        }

        .topbar-button {
            @include border-radius(20px);
            border: 2px dotted $topbarButtonBorderColor;
            background: $topbarButtonBgColor;
            color: $topbarButtonTextColor;
            height: 2em;
            min-width: 2em;
            float: right;
            display: block;
            font-size: 1em;

            .ui-button-icon-right {
                width: 1em;
                height: 1em;
            }
        }
    }
}

@media (max-width: 1024px) {
    .layout-wrapper {
        .layout-topbar {
            .topbar-button {
                .ui-button-text {
                    display: none;
                }

                .ui-button-icon-right {
                    right: 50%;
                    margin-right: -.6em;
                }
            }
        }
    }
}
