/* COMMON */
$textColor:#1b1b1b;
$textSecondaryColor:#888888;
$fontSize:16px;

/* FORMS */
$inputBgColor:#ffffff;
$inputPadding:.429em;
$inputBorderColor:#888888;
$inputTransitionDuration:.3s;
$inputHoverBorderColor:#424242;
$inputFocusBorderColor:#424242;
